#!/bin/bash
proxy_mode="web"
secret=""
adtag=""
provider=2
statport=8888
web_hostname=""
web_listen="127.0.0.1:8080"
web_front="caddy"
web_email=""
web_backend="127.0.0.1:2398"
web_carrier="https"
web_fallback=""
web_tproxy_listen="127.0.0.1:8080"
web_admin_listen="127.0.0.1:8081"
web_upstream_listen="http://127.0.0.1:30000"
web_token_key="token.key"
web_static_routes="exact"
